/* ==============================================
Yahoo Reset
============================================== */
html{color:#000;background:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
/* ==============================================
GLOBAL
============================================== */
html,body
{
	width:100%;
	height:100%;

	font-size:20px;
	font-family:"Arial";

	color:#F00;
	background: #EEE;
}

a
{
	color:#999;
	text-decoration: none;
}

a:active,a:hover
{
	color:#999;
	text-decoration: underline;
}

a:visited
{
	color:#ff642b;
}

#wholepage
{
	display:block;
	width:100%;
	height:100%;
}

#content
{
	display:block;
	width:100%;
	height:100%;
}

/* ==============================================
FLASH
============================================== */
#flash
{
	display: block;
	background: #DDD;	

	min-width:960px;
	min-height:570px;
	width:100%;
	height:100%;
	overflow: auto;

	*height:expression(document.body.clientHeight < 800? "795px": "100%");
	*width:expression(document.body.clientWidth < 980? "978px": "100%");

}

/* ==============================================
NO FLASH
============================================== */
#site
{
	background: url("../../img/site/no_flash/bg_tile.jpg") repeat-y center;
}

#center
{
	width:980px;
	margin:0 auto;
	text-align: center;
	position: relative;	
}

#noflash
{
	text-align:left;	
}

h1 {
 color: #444;
 background-color: transparent;
 border-bottom: 1px solid #D0D0D0;
 font-size: 153.9%;
 font-weight: bold;
 margin: 24px 0 2px 0;
 padding: 5px 0 6px 0;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}
