<?xml version="1.0"?>
<config>
	<settings>
		<setting id="path_xml" 			value="xml/" />
		<setting id="path_swf" 			value="swf/" />
		<setting id="path_img" 			value="img/" />
		<setting id="path_vid" 			value="videos/" />
		<setting id="defaultScreen"		value="home" />
	</settings>

	<loadables type="components">
		<component id="header" 				swf="site/header.swf" 				xml="site/header.xml"							weight="1" />
		<component id="footer" 				swf="site/footer.swf" 				xml="site/footer.xml"							weight="1" />
		<component id="ftpclient" 			swf="site/ftpclient.swf" 			xml="site/ftpclient.xml"						weight="1" />
		<component id="background"			swf="site/background.swf"															weight="1" />
		<component id="loader"		swf="site/section_loader.swf"														weight="1" />
	</loadables>
	
	<loadables type="screens">
		<component id="home"			pretty_url="home"		swf="site/screens/home.swf"										weight="1" />
		<component id="learn"			pretty_url="learn"		swf="site/screens/learn.swf"		xml="site/learn.xml"		weight="1" />
		<component id="craft"			pretty_url="craft"		swf="site/screens/craft.swf"		xml="site/craft.xml"		weight="1" />
		<component id="credits"			pretty_url="credits"	swf="site/screens/credits.swf"		xml="site/credits.xml"		weight="1" />
		<component id="connect"			pretty_url="connect"	swf="site/screens/connect.swf"		xml="site/connect.xml"		weight="1" />
	</loadables>
	
</config>